@import "tailwindcss";

@theme {
  --font-sans:
    "Atkinson Hyperlegible Mono", "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    sans-serif;
  --color-brand: #ef4e27;
  --color-brand-gray: #dbdddb;
}

@layer base {
  body {
    @apply bg-[url(/bg.png)] bg-fixed;
  }

  a {
    @apply text-blue-500;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse-slow 2s ease-in-out infinite;
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(1.1);
    }
  }
}

:popover-open {
  position: fixed;
  inset: unset;
  left: 32px;
  bottom: 32px;
  margin: 0;
  background: transparent;
  z-index: 100;
}
