@import "tailwindcss";

@theme {
  --font-sans: "Sono", sans-serif;
}

@layer base {
  body {
    @apply bg-[url(/bg.png)] bg-fixed;
  }

  a {
    @apply text-blue-500;
  }
}

@layer utilities {
  .animate-pulse-slow {
    animation: pulse-slow 2s ease-in-out infinite;
  }

  @keyframes pulse-slow {
    0%,
    100% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.8;
      transform: scale(1.21);
    }
  }
}
